DATABASE_URL="postgresql://neondb_owner:npg_w9oqRHWiKXa7@ep-sweet-moon-ayrwde1e-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="myquizsecret2026"
PORT=5000
